{{#if states}}
{{#each states}}
    {{#if state}}
      <a href="/toggleDone/62e1939cbc778c37755e34a7/edit" class="btn btn-danger">EXPERIMENTO EN PROCESO</a>
    {{else}}
      <a href="/toggleDone/62e1939cbc778c37755e34a7/edit" class="btn btn-success">INICIAR EXPERIMENTO</a>
    {{/if}}
  {{/each}}
{{/if}}

{{#if experiments}}
  <table class="table table-bordered table-hover table-dark">
    <thead>
      <tr>
        <th>N.</th>
        <th>ID</th>
        <th>Times</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      {{#each experiments}}
        <tr>
          <td>
            {{@index}}
          </td>
          <td>{{_id}}</td>
          <td>
            {{#each times}}
              <p id="{{@index}}">{{this}}</p>
            {{/each}}
          </td>
          <td>
            <a
              href="/experiment/{{_id}}/delete"
              class="btn btn-danger"
            >Delete</a>
            <a
              href="/experiment/{{_id}}/edit"
              class="btn btn-success"
            >Update</a>
            <a
              href="/experiment/{{_id}}/simulation"
              class="btn btn-primary"
            >Simulation</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
      <h1>No hay experimentos</h1>
      <img src="/icons/empty.svg" class="w-75" />
    </div>
  </div>
{{/if}}